@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #3b069e 20%, #25bffc 100%);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* LEFT SECTION */
.left{
    height: 100vh;
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    margin:18px;
    justify-content: center;
    align-items: center;
}

.left h1{
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
}

.left p{
    text-align:center;
    font-size: 19px;
    line-height: 150%;
    padding: 0 80px;
    margin-bottom: 150px;
    opacity: 0.6;
}

.left button{
    border: none;
    font-weight: bold;
    color: #444343;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 25px;
    position: relative;
    top:20px;
}

.fa-rocket{
    font-size: 60px;
}


/* RIGHT SECTION */

.right{
    height: 85vh;
    flex: 2;
    background-color: whitesmoke;
    border-top-left-radius: 150px;
    border-bottom-left-radius:150px;
    padding: 30px 60px;
    margin-right: 40px;
}

.right h1{
    text-align: center;
    font-size: 34px;
    margin-bottom: 24px;
    margin-top: 10px;
    color: #444343;
    font-weight: 600;
}

#form-fields{
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-forms, #right-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right-forms{
    margin-left: 40px;
    margin-bottom: 35px;
}

input[type=text], select, input[type=password], input[type=email], input[type=tel] {
    padding: 10px;
    border-radius: 4px;
    border: 1px rgb(201, 199, 199) solid;
    margin-top: 23px;
    font-size: 17px;
    width: 330px;
}

/* this makes all placeholders grey */
::placeholder{
    color:grey;
}

/* this is to make the drop down select placeholder grey */
select,
select option {
  color: grey;
}

select:invalid,
select option[value=""] {
  color: grey;
}

#register{
    background-color:#2300a1;
    color: white;
    padding: 8px 40px;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    position: absolute;
    left: 78%;
    top: 75%;
}

.gender{
    margin-top:23px;
    position: relative;
    right: 89px;
    font-weight: 600;
    color:#444343;
}


/* EMPLOYEE HIRER SLIDER CONCEPT */
.employee-hirer{
    background-color: #2300a1;
    width: 25%;
    border-radius: 30px;
    position: relative;
    left: 79%;
    margin-bottom: 15px;
}

.employee-hirer button{
    color: #2300a1;
    background-color: whitesmoke;
    padding: 5px 9px;
    border-radius: 15px;
    font-size: 17px;
    border: none;
    margin: 2px;
    font-weight: bold;
}

#hirer{
    color: white;
    background-color: #2300a1;
    margin-left: 15px;
}